$btn-back-background-color: darken($base-color, 8%);
$btn-back-color: #fff;
$btn-back-background-color-over: darken($btn-back-background-color, 5%);
$btn-back-border-color: darken($btn-back-background-color, 25%);